
* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
}


body {
    background-color: #000000;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}

.flex-container {
    display: flex;
}

#io {
    font-size: 100%;
    margin-top: -150px;
    color: rgba(255, 255, 255, 0.712);
}

h1 {
    background-image: 
    linear-gradient(to right, #f7eff4,#14020f);
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent
}/*texto em degrade*/

#name {
    display: grid;
    margin-top: 90px;
    margin-left: 08%;
    font-size:  23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#lateral {
    background-color: rgba(17, 7, 71, 0.568);
    color: rgb(245, 230, 230);
    width: 10%;
    position: sticky;
    top: 0;
    z-index: 1;
}

#lateralRight {
background-color: #0e232e;
color: whitesmoke;
width: 90%;
height: 100%;
text-align: center;

}

.paragraph {
    writing-mode: vertical-lr;   
    color: rgb(219, 207, 207)
}/* texto vertical*/

#card {
    background-color: #585858;
    border-radius: 20px;
    width: 100%;
    height: auto;
    margin-left: 20%;
    padding-left: 08%;
}

#borderImage {
    border: 3px solid;
    border-image: linear-gradient( 135deg, #f0ebeb 0%, [], #8d6c82 100%) 1;
    height: 300px;
}/* borda colorida*/

.imgHeader {
clip-path: polygon(0% 0%, 0% 70%, 100% 00%);
width: 100%;
} /* recorte da imagem do header*/

.ContentImg {
    filter: drop-shadow(2px 4px 8px #066b03);
}/* sombra na imagem*/

#striped{
    background-image: repeating-linear-gradient(-45deg, #000000 0px, #000000 10 px, #0d7cb9 10px,
    #0e1316 20 px);
   /* width: 50px;
    height: 200px;*/
}

 ::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: rgb(39, 75, 116);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(14, 104, 100);
    border-radius: 38px;
}

::-webkit-progress-value {
    background-color: rgb(48, 58, 119);
    border-radius: 40px;
  }
  ::-webkit-progress-bar {
    background-color: rgb(14, 3, 1);
    border-radius: 40px;
  }
  ::-moz-progress-bar {
    background-color: rgb(253, 253, 255);
  }


#animationBack {
    width: 10px;
}

.vidro {
    background-color: #060214;
    backdrop-filter: blur(13px);
    width: 90%;
    height: 30px;
    

}

a {
    text-decoration: none;
    color: #ebdede;
}


button {
    background-color: #2a2cb4;
    width: 18%;
    border-radius: 8%;
    margin:20px;
    
    
}

.curriculo {
    background-color: rgba(11, 6, 15, 0.2);
    width: 80%;
    height: 20%;
    border-radius: 10px;
    color: #a30f0f;
    font-size: 38px;
    list-style: none;
    
}
